DATABASE_URL=postgres://user:password@db-host:25060/defaultdb?sslmode=require
DATABASE_POOL_URL=postgres://user:password@db-pool-host:25061/defaultdb?sslmode=require
GENERATE_IMAGE_DERIVATIVES_ENABLED=false
TRANSCODE_VIDEO_ENABLED=true
FFMPEG_BIN=ffmpeg
