VITE_API_BASE_URL=https://api.example.com
VITE_ASSETS_BASE_URL=https://assets.example.com
VITE_APP_ENV=development
VITE_LEAFLET_CSS_URL=https://unpkg.com/leaflet@1.9.4/dist/leaflet.css
VITE_LEAFLET_JS_URL=https://unpkg.com/leaflet@1.9.4/dist/leaflet.js
VITE_CARTO_TILE_URL=https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png
